<mat-card>
    <mat-card-content>
        <ul>
            <li *ngFor = "let venta of VentasArray">
                <mat-card class="example-card">
                    <mat-card-title-group>
                      <mat-card-title class="Titulo">Cliente: {{venta.cliente.nombre}}</mat-card-title>
                      <mat-card-subtitle>Fecha: {{venta.fecha}}</mat-card-subtitle>
                      <mat-card-subtitle>Total Venta: {{venta.total}}</mat-card-subtitle>
                      <mat-card-subtitle>Factura: {{venta.factura_num}}</mat-card-subtitle>
                    </mat-card-title-group>
                    <mat-card-content>
                    </mat-card-content>
                  </mat-card>
            </li>
        </ul>
    </mat-card-content>
</mat-card>

<mat-form-field appearance="fill">
    <mat-label>Seleccione un Cliente</mat-label>
    <mat-select [(ngModel)]="cliente" >
      <mat-option *ngFor="let option of ClienteArray" [value]="option">
        {{option.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-mini-fab color="primary" (click)="flitrarCliente()">
    <mat-icon>search</mat-icon>
  </button>
<mat-form-field appearance="fill">
  <mat-label>Fecha desde</mat-label>
  <input matInput [matDatepicker]="picker1" [(ngModel)]="fecha1">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Fecha hasta</mat-label>
  <input matInput [matDatepicker]="picker2" [(ngModel)]="fecha2">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>
  <button mat-mini-fab color="primary" (click)="filtrarFecha()">
    <mat-icon>search</mat-icon>
  </button>
  <H3>Limpiar busqueda</H3>
  <button mat-mini-fab color="primary" (click)="sinFlitrar()">
    <mat-icon>clear</mat-icon>
  </button>