<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Mi aplicación</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<mat-tab-group>
  <mat-tab label="Productos">Administración de Productos><app-productos></app-productos></mat-tab>
  <mat-tab label="Clientes">Administración de Clientes</mat-tab>
  <mat-tab label="Registro ventas">Registro de ventas de producto a un cliente</mat-tab>
  <mat-tab label="Resumen ventas">Resumen de todas las ventas</mat-tab>
  <mat-tab label="Desatalles ventas">Desatalles de todas las ventas</mat-tab>
</mat-tab-group>
